@model IEnumerable <WebApplication4.UIModels.FrequencyReport>

@{
    ViewBag.Title = "FrequencyReport";
}

<h2>FrequencyReport</h2>


<div class="form-horizontal">

    <h4>Frequency Report</h4>
    <hr />

    <table border="1" width="100%">

        <thead>
            <tr>
                <th> Gender  </th>
                <th> Jan  </th>
                <th> Feb   </th>
                <th> Mar  </th>
                <th> Apr   </th>
                <th> May  </th>
                <th> Jun   </th>

                <th> Jul  </th>
                <th> Aug   </th>
                <th> Sep  </th>
                <th> Oct   </th>
                <th> Nov  </th>
                <th> Des   </th>
                <th> Total   </th>
            </tr>

        </thead>

        <tbody>


        @foreach (var asset in Model)
        {
            <tr>
                <td> @asset.Measure  </td>
                <td> @asset.Jan  </td>
                <td> @asset.Feb   </td>
                <td> @asset.Mar  </td>
                <td> @asset.Apr   </td>
                <td> @asset.May  </td>
                <td> @asset.Jun   </td>

                <td> @asset.Jul  </td>
                <td> @asset.Aug   </td>
                <td> @asset.Sep  </td>
                <td> @asset.Oct   </td>
                <td> @asset.Nov  </td>
                <td> @asset.Des   </td>

                <td> @asset.Total   </td>

            </tr>
        }

        </tbody>

    </table>

</div>

<script>

    // AJAX CALLS to loiad the data in the reports maybe??????????




</script>





